<form action="/check" method="POST">
<div class="form-floating mb-3  col-auto">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Следующий счасливый билетик через</button>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Всего счасливых билетиков в пачке</button>
  </div>
</form>

