<form action="/check" method="POST">
<div class="form-floating mb-3  col-auto">
  <input name="ticket_number" value="<%=@ticket_number%>" type="number" class="form-control" id="floatingInput" placeholder="Номер билетика">
  <label for="floatingInput">Введите номер билетика</label>
</div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Следующий счасливый билетик через</button>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Всего счасливых билетиков в пачке</button>
  </div>
</form>

